@font-face {
	font-family: "Fira Sans Condensed"; 
	src: url(FiraSansCondensed-Bold.ttf);}
  @font-face {
    font-family: "Fira Sans Condensed"; 
    src: url(FiraSansCondensed-Regular.ttf);} 
    @font-face {
    font-family: "Yanone Kaffeesatz";
    src: url(YanoneKaffeesatz.ttf);} 